<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# <link rel="stylesheet" href="https://bootswatch.com/5/sandstone/bootstrap.min.css"> #}

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

		<link rel="stylesheet" href="{{asset('assets/css/app3.css')}}" ">


		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="contLogo">
			<img class="logo" src="{{ asset('upload/travelista-script-1.png') }}" alt="Logo">
		</div>
		<header class="header">
			<nav class="nav">
				<ul class="navbar">
					<li class="nav-item">
						<a class="nav-link" href="/">
							Accueil
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/blog">
							blog
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							A propos
						</a>
					</li>
					<li class="nav-item liBorder">
						<a class="nav-link" href="#">
							Contact
						</a>
					</li>

				</ul>
			</nav>
			<div class="social">
				<a href="">
					<i class="fab fa-facebook"></i>
				</a>

				<a href="">
					<i class="fab fa-twitter"></i>

				</a>
				<a href="">
					<i class="fab fa-instagram"></i>

				</a>


				<button class="btn-head " type="submit">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</header>
	</body>
	{% block body %}{% endblock %}
	<footer>
		<p>Realiser par Spileers Julien</p>
	</footer>
</html></body></html>
